css p {
  text-align: center;
}

.parent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; /* aligneren langs de hoofdas */
  align-items: stretch; /* aligneren langs de dwarsas */
  height: 700px;
  background: grey;
  width: 60%;
  margin: 0 auto;
  flex-direction: row;
}

.parent > * {
  padding: 5px;
}

.child1,
.child2,
.child3,
.child4 {
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
}
.child1 {
  order: 4;
}

.child2 {
  order: 1;
}

.child4 {
  order: -5;
}
