html {
  font-family: "Zen Antique Soft", serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #525559;
  color: #d9ca82;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: relative;
  margin-left: 25%;
  display: flex;
  align-items: flex-start;
}
.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: #a69856;
  height: 2px;
  width: 2em;
}
.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}
.nav-toggle-label::before {
  bottom: 7px;
}
.nav-toggle-label::after {
  top: 7px;
}
.navbar {
  margin-left: 25%;
  width: 75%;
  height: 100%;
  margin-top: 2%;
  display: none;
}
nav ul {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  height: 100%;
}
nav li {
  font-family: "Zen Antique Soft", serif;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 1%;
  height: 75%;
  border: 1px solid #548c8b;
}
nav > ul > li > a {
  color: #a69856;
  text-decoration: none;
}
.nav-toggle:checked ~ nav {
  display: block;
}
.title {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 90px;
  line-height: 26px;
  font-weight: 600;
}
.subtitle {
  display: block;
  margin-left: 12.5%;
  margin-top: 12.5%;
  font-size: 50px;
  width: 100%;
}
h2 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
p {
  font-family: "Zen Antique Soft", serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  flex-wrap: wrap;
  line-height: 125%;
}

.container {
  display: grid;
  width: 98%;
  gap: 3vw;
  grid-template-areas:
    "paragraph1"
    "paragraph2";
}
a {
  color: #a69856;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 8vw;
  }
  .subtitle {
    font-size: 4vw;
  }
  .navbar {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
  .container {
    grid-template-columns: 1fr;
    min-width: 80%;
    grid-template-areas:
      "paragraph1"
      "paragraph2";
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 6vw;
    width: auto;
  }

  .navbar {
    font-size: 6vw;
  }
  .navbar ul li {
    display: flex;
    flex-direction: column;
  }
  .container {
    grid-template-areas:
      "paragraph1 "
      "paragraph2";
  }
  p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "paragraph1 paragraph2";
  }

  .nav-toggle-label {
    display: none;
  }
  .navbar {
    display: inline-block;
  }
}
article {
  margin-left: 20px;
}
header > p {
  margin-bottom: 50px;
}
a:focus,
a:hover {
  color: #525559;
  background-color: #a69856;
  text-decoration: underline;
}
