html {
  font-family: "Zen Antique Soft", serif;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  background-color: #525559;
  color: #d9ca82;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: relative;
  margin-left: 25%;
  display: flex;
  align-items: flex-start;
}
.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: #a69856;
  height: 2px;
  width: 2em;
}
.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}
.nav-toggle-label::before {
  bottom: 7px;
}
.nav-toggle-label::after {
  top: 7px;
}
.navbar {
  margin-left: 25%;
  width: 75%;
  height: 100%;
  margin-top: 5%;
  display: none;
}
nav ul {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  height: 100%;
}
nav li {
  font-family: "Zen Antique Soft", serif;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 1%;
  height: 75%;
  border: 1px solid #548c8b;
}
nav > ul > li > a {
  color: #a69856;
  text-decoration: none;
}
.nav-toggle:checked ~ nav {
  display: block;
}
.title {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 90px;
  line-height: 26px;
  font-weight: 600;
}
.subtitle {
  display: block;
  margin-left: 12.5%;
  margin-top: 12.5%;
  font-size: 50px;
  width: 100%;
}
h2 {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
p {
  font-family: "Zen Antique Soft", serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  line-height: 125%;
}
main > aside > figure {
  float: right;
  margin-right: 195px;
}
blockquote,
dd {
  margin: auto;
  width: fit-content;
}
dd {
  margin-bottom: 1em;
  margin-left: 0;
}
dt {
  font-weight: 700;
}

img,
picture {
  display: block;
  max-width: 100%;
  margin: auto;
  clear: both;
}
a {
  color: #a69856;
}
@media screen and (max-width: 600px) {
  .flow {
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 18px;
  }
  .navbar {
    font-size: 18px;
  }
  .half {
    display: flexbox;
    width: calc(98%-20px);
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .flow {
  }
  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 6vw;
    width: auto;
  }

  .navbar {
    font-size: 6vw;
  }
  .navbar ul li {
    display: flex;
    flex-direction: column;
  }
  .half {
    display: flexbox;
    width: calc(98%-20px);
  }
  p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 800px) {
  .half {
    display: flex;
    width: 45%;
  }
  .nav-toggle-label {
    display: none;
  }
  .navbar {
    display: inline-block;
  }
}
article {
  margin-left: 20px;
}
header > p {
  margin-bottom: 50px;
}
a:focus,
a:hover {
  color: #525559;
  background-color: #a69856;
  text-decoration: underline;
}
.one-third {
  margin: 20px 10px;
}
.container {
  display: flex;
  flex-direction: column;
}
.container.text {
  display: flex;
  flex-direction: row;
}
